
################################################################################
# GITIGNORE FILE
################################################################################

desktop.ini

[Bb][Uu][Ii][Ll][Dd]/
[Bb][Ii][Nn]/

# vs cache data
tools/debug/.vs/
tools/debug/enc_temp_folder/