
################################################################################
# GITIGNORE FILE
################################################################################

desktop.ini

[Bb][Uu][Ii][Ll][Dd]/

tools/debug/test_data/
tools/debug/test_data_output/

# vs cache data
tools/debug/.vs/
tools/debug/enc_temp_folder/